#app{
  .main_page{
    ul{
      list-style-type:none;
      li{
        margin-top:-80px;
      }
      .button_back{
        z-index: 15;
        background-color: white;
        float: right;
        //width: 108px;
        position: relative;
        top: -10px;
        padding: 10px 38px;
        color: #222222;
        text-transform: uppercase;
        font-weight: bold;
        //padding-left: 38px;
        margin-right: 26px;
        border: solid 1px #ffffff;
      }
    }
  }
}